body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    }h2 {
    font-size: 35px;
    padding-top: 117px;
    } 
    .name{
    color: fuchsia;
    font-size: 40px;
    }
    p{  
    padding-bottom: 20px;
    }
    .top-banner{
    height: 500px;
    background-image: url("img/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    }
    .half-width {
    width: 40%;
    float: left;
    margin-left: 8%;
    padding-left: 2%;
    padding-top: 40px;
    }
    .link-button{
    text-decoration: none;
    background-color: deeppink;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    }
    .half-width h1 {
    padding-top: 109px;
    }
    .half-width img{
    width: 100%;
    } 
    .half-width h1{
    padding-top: 10px;
    }
    section {
    height: 500px;
    padding-bottom: 275px;
    }
    .biography-area{
    background-image: url(img/biography-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    }
    .work-img{
    width: 31%;
    float: left;
    margin-left: 31px;
    }
    .work-img img{
    width: 90%;
    }
    .my-work h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    }
    .my-work{
    background-image: url(img/latest-work-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    }
    .clint-area{
    background-image: url(img/footer-bg.png);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    }
    .clint-content h1 {
    font-size: 42px;
    }
    .color-font{
    color:gainsboro;
    font-size: 20px;
    }
    .clint-content h3 {
    font-size: 32px;
    }
    .clint-content {
    padding-top: 44px;
    }
    .massage-box{
    margin: 50px 330px;
    background-color: fuchsia;
    height: 205px;
    border-radius: 15px;
    }
    .massage-box a {
    text-decoration: none;
    font-size: 33px;
    color: black;
    }
    .paragraph-center{
    padding-top: 54px;
    }
    footer {
    text-align: center;
    color: gray;
    background-color: blanchedalmond;
    height: 61px;
    }
    footer p {
    font-size: 20px;
    padding-top: 16px;
    }